/*presentation and styling*/
body {
    font-family:monospace;
}
ul {
    font-family: helvetica;
}


li {
    list-style: circle;
}
  
.list {
    list-style: square; 
} 

:root {
    --turquoise: #00c3ffea;
    --white: #ffffff;
    --black: #000000;
    
}
  * {
    color: var(--fontColor);
    font-family: helvetica;
}
  
body {
    background: var(--bg);
}

.light-theme {
    --bg:linear-gradient(to  right, rgb(0, 217, 255), rgb(15, 233, 222), rgb(5, 236, 178));
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}
  
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--turquoise);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn {
    position: absolute;
    top: 30px;
    left: 350px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus { 
    outline-style: none;
}
